@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
header{
    width: 100%;
    padding-inline: 24px;
    padding-block: 16px;
    margin-inline: auto;
    z-index: 50;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.005); 
    backdrop-filter: blur(10px);
}

@keyframes nav-morph {
  to {
    background: white;
    color: black;
    backdrop-filter: blur(12px);
    padding: 0.8rem 2rem;
  }
}
@keyframes text-flip {
  to { color: #000000; }
}

@keyframes logo-swap {
  from { content: url('assests/light-main-logo.svg'); }
  to { content: url('assests/mintlify-wordmark.svg'); }
}

@keyframes button-flip {
  to {
    background-color: #000000;
    color: #ffffff;
  }
}
@keyframes button-flip {
  to {
    background-color: #000000;
    color: #ffffff;
  }
}

header {
  animation: nav-morph linear both;
  animation-timeline: scroll();
  animation-range: 500px 600px; 
}

header > div{
    height: 100%;
    width: 100%;
    z-index: 100;
    position: relative;
}



#nav-container{
    width: 100%;
    margin: auto;
    max-width: 66rem;
    display: flex;
    align-items: center;
}

#nav-box{
    display: flex;
    align-items: center;
    column-gap: 164px;
}

#logo-box > img {
    height: 25px;
    width: 105px;
      animation: logo-swap steps(1) both;
  animation-timeline: scroll();
  animation-range: 500px 501px; 
}

#navbar{
    display: flex;
    flex:1 1 0;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    width: 100%;
    position: relative;
}

#nav-div{
    position: relative;
}

#nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.nav-item{
    position: relative;
    padding-bottom: 0;
}
.nav-item > a{
    font-size: 15px;
    line-height: 150%;
    font-weight: 400;
    padding-block: 4px;
    padding-inline: 12px;
    border-radius: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 32px;
    text-decoration: none;
    outline-offset: 2px;
    color: lab(100% 0 0);
    animation: text-flip steps(1) both;
  animation-timeline: scroll();
  animation-range: 500px 550px;
}

#nav-buttons-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-buttons{
    display: flex;
    align-items: center;
    gap: 8px;
}

#nav-buttons > a {
    outline-offset: 2px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 15px;
    padding-inline: 12px;
    padding-block: 4.5px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    gap: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-shrink: 0;
    text-decoration: none;
    
}
#nav-buttons-sales{
    font-weight: 400;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px);
    color: lab(100% 0 0);
    border-radius: 99999px;
    animation: text-flip steps(1) both;
    animation-timeline: scroll();
    animation-range: 500px 550px;
}
#nav-buttons-start{
    background-color: lab(100% 0 0);
    color: black;
    border-radius: 99999px;
     animation: button-flip steps(1) both;
  animation-timeline: scroll();
  animation-range: 500px 550px;
}
#hero-section{
    isolation: isolate;
    position: relative;
}

#hero-bg-box{
    background: url('https://www.mintlify.com/hero/bg-light.svg');
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -10rem;
    pointer-events: none;
}

#hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 180px;
    padding-bottom: 96px;
    line-height: 24px;
    color: lab(100% 0 0);
}
#hero-text > h1{
    text-align: center;
    max-width: 43rem;
    width: 100%;
    letter-spacing: 0.2rem;
    text-wrap: balance;
    text-size-adjust: 100%;
    font-size: 3rem;
    line-height: 1.1;
}
#hero-text-p{
    text-align: center;
    max-width: 29.5rem;
    margin-top: 1.5rem;
    line-height: 150%;
    font-size: 1.125rem;
}

#hero-text > form {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    background-color: lab(100% 0 0 / .15);
    border: 1px solid lab(100% 0 0 / .15);
    border-radius: 9999px;
    gap: calc(0.25*1.5);

    max-width: 22.5rem;
    width: 100%;
    margin-top: 2rem;
}

#hero-form > input {
    border: 0px solid lab(100% 0 0);
    background-color: transparent;
    padding-left: 0.75rem;
padding-right: 0.75rem; 
outline-style: none; 
width: 100%; 
height: 2rem; 
font-weight: 500; 
color: 15px;
outline-offset: none;
outline-style: none;
}

#hero-form > button{
    display: inline-flex; 
    padding-block: 4.5px;
    background-color: lab(100% 0 0);
    border: 1px solid lab(100% 0 0);
    flex-shrink: 0;
padding-inline: 0.75rem;
gap: 0.375rem; 
justify-content: center; 
align-items: center; 
border-radius: 9999px; 
outline-offset: 2px; 
height: fit-content; 
font-weight: 500; 
white-space: nowrap; 
transition-duration: 100ms; 
cursor: pointer; 
color: lab(2.42579 -0.165291 -0.470081);
box-shadow: 0 0 transparent,  0 0 transparent, 0 0 transparent, 0 0 transparent, 0px 2px 4px 0px lab(100% 0 0 / .15);
}
#partners-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-img{
    display: flex;
    justify-content: center;
    padding: 6rem;
}
#hero-img img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    max-width: 66rem;
    margin: auto;
}

#partners-box{
    padding-bottom: 12rem;
    width: 100%;
    height: auto;
    
}
#partners{
    max-width: 66rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1rem;
    column-gap: 6rem;

}
.partner{
    height: 4rem;
    width: 8rem;
}
#features-section{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 8rem;
}

#features-section-container{
    max-width: 66rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 648px;
}

#features-section-container h2{
    font-size: 40px;
}

#features-section-container p{
    text-align: center;
    text-wrap: balance;
    font-size: 16px;
    color: lab(2.42579 -0.165291 -0.470081 / 0.8);
    margin-bottom: 8rem;
}

#features-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.feature-box{
    max-width: 66rem;
    border: 1px solid lab(2.79% 1.43 0.5 / 0.15);
    border-radius: 1rem;
    padding: 1.5rem;
    
}
.feature-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
}

.feature-description > p:first-child,#agent-feature-description > p:first-child{
    color: green;
    font-size: 12px;
}
.feature-description h3, #agent-feature-description h3 {
    font-size: 24px;
    font-weight: 400;
}

.feature-description > p:last-child, #agent-feature-description > p:last-child{
    color: lab(3.3% 1.23 0.43 / 0.15);
    text-wrap: balance;
}

#features-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

#agent-feature-description{
    padding-top: 2rem;
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 30rem;   
}
#feature-ai-design, #feature-agent-design{
    padding-block: 4rem;
}

#feature-agent-design img{
    padding-block: 0.8rem;
}
#feature-assistant{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#enterprise{
    margin-top: 2rem;
    padding-top: 4rem;
    background-color: lab(2.42579 -0.165291 -0.470081 / 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
}
#enterprise-box{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 66rem;
    align-items: center;
    justify-content: center;
}
#section-intro{
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}
#intro-heading{
    display: flex;   
    flex-direction: column;
    gap: 1.2rem;
}

#intro-heading h4{
    color: green;
    font-weight: 400;
    font-size: 12px;
}
#intro-heading h3 {
    font-size: 40px;
}

#intro-heading p{
    font-size: 16px;
}

#intro-btn-box {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    
}

#intro-btn-box a{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    background-color: lab(2.42579 -0.165291 -0.470081);
    color: white;
    border-radius: 99999px;
    width: 180px;
    height: 2rem;
}

#section-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.feature-box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#section-customer-story{
    padding-top: 4rem;
    max-width: 66rem;
}

#section-customer-story img{
    width: 66rem;
}

#section-customer-logo{
    padding-top: 4rem;
    display: flex;
    gap: 4rem;
    padding-bottom: 8rem;
}

#customer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#customer-section-intro{
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#customer-section-intro p:first-child{
    color: green;
    font-size: 16px;
    font-weight: 400;
}

#customer-section-intro h2{
    font-size: 40px;
    font-weight: 400;
}
#customer-section-intro p:last-child{
    font-weight: 400;
}
#customer-section-cards{
    max-width: 66rem;
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
}
.customer-card{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
}
.card-text p{
    font-weight: 350;
}
.card-text button{
    all: unset;
    padding-top: 1rem;
    color: grey;
    background-color: white;
}

.card-text button:hover{
    width: max-content;
    color: green;
    border-radius: 99999px;
    text-align: center;
}

#slider-button{
    margin-top: 2rem;
    margin-bottom: 6rem;
}

#cto-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
}

#cto-section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 66rem;
}

#cto-intro{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  gap: 3rem;
}
#cto-intro > div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  gap: 1rem;
}

#cto-intro > div h3{
    font-weight: 600;
    text-align: center;
    max-width: 560px;
    text-wrap: balance;
    font-size: 40px;
}
#cto-intro > div p{
    text-align: center;
}

#cto-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#cto-btn a:first-child{
    all: unset;
    color: lab(100% 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 24px;
    border-radius: 9999px;
    background-color:lab(2.42579 -0.165291 -0.470081)
}

#cto-btn a:last-child{
    all: unset;
    border: 1px solid lab(2.42579 -0.165291 -0.470081);
    color: lab(2.42579 -0.165291 -0.470081);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 24px;
    border-radius: 9999px;
    background-color: lab(100% 0 0);
}

#cto-cards{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18rem;
}
.cto-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.cto-card-logo{
    display: inline-block;
    width: max-content;
    padding: 2rem;
    border-radius: 16px;
    padding: 0.5rem;
     border: 1px solid lab(13.58% -0.4 -1.66 / 0.192);
}

.card-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cto-card-text h4{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.cto-card-text p{
    margin-top: 0.6rem;
    text-align: center;
}
.cto-card a{
    all: unset;
    color: green;
}

footer{
    display: flex;
    justify-content: center;
    border: 1px solid lab(13.58% -0.4 -1.66 / 0.192);
}
footer > div{
    width: 66rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-inline: 1px solid lab(13.58% -0.4 -1.66 / 0.192);
}

#footer-head{
    padding-top: 2.5rem;
    padding-inline: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
#footer-head  img{
    padding-right: 0.75rem;
}

#footer-links{
    padding-top: 3rem;
    padding-bottom: 6rem;
    border-block: 1px solid lab(13.58% -0.4 -1.66 / 0.192);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#footer-links div > * {
    
    padding-bottom: 1rem;
}
#footer-links h4{
    font-weight: 550;
    font-size: 14px;
}
ul li {
    font-size: 14px;
    font-weight: 400;
    list-style-type: none;
    padding-bottom: 1.5rem;

}
#footer-rights{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    font-size: 13px;
    padding-inline: 2rem;
    margin-bottom: 6rem;
}
#footer-rights button{
    border-radius: 30px;
    border: 0 solid #d4d1d1;
    padding-block: 5px;
    padding-inline: 10px;
    background-color: #d4d1d168;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-rights div > * {
    margin-right: 0.25rem;
    
}